@media only screen and (max-width: 430px) {


  h1 {
    font-size: 47px;
  }

  .overlay-content::-webkit-scrollbar {
    display: none;
  }

  /* Header - Sidebar */

  .sidebar {
    bottom: 0;
    flex-direction: row;
    width: 428px;
    height: 80px;
    gap: 0;
  }

  .navButton {
    display: flex;
    flex-direction: column;
    width: 80px !important;
  }

  .navButton p {
    margin: 0;
  }

  .active-webpage {
    border-radius: 20%;
  }

  .logo {
    position: absolute;
    display: none;
    top: -733px;
    left: 22px;
  }

  .logo-mobile {
    display: flex;
    position: absolute;
    left: 22px;
    height: 48px;
    width: 40px;
  }

  .med-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .med-container a {
    gap: 4px;
    font-size: 14px;
    height: 64px;
    padding: 8px 1px 8px 1px;
  }

  .med-container img {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .legal-notice {
    display: none;
  }

  .header {
    width: 428px;
    height: 80px;
    padding: 0;
  }

  .header h2 {
    display: none;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 0 35px 0 0;
  }

  /* LOGIN */

  #msg-box {
    width: 90%;
  }

  .sign-up-span {
    font-size: 20px;
  }

  .move-logo-animation {
    height: 78px;
  }

  .container {
    width: 100%;
    margin-top: 50px;
  }

  .login-container {
    width: 90%;
  }

  .login-form-container {
    width: 80%;
  }

  .inputsLogin {
    width: 100%;
    height: 48px;
  }

  .headline-one {
    font-size: 47px;
    margin: 30px 0 15px 0;
  }

  .remeber {
    display: flex;
    gap: 10px;
  }

  .remember-me-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .login-forgot-my-password {
    padding-left: 0;
  }

  .log-in-button-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0 38px 0;
    gap: 20px;
  }

  .sign-up-container {
    margin-top: 150px;
    width: 90%;
  }

  .sign-up-form-container {
    gap: 25px;
  }

  .sign-up-button-container {
    margin: 10px 0 30px 0;
  }

  /* SUMMARY */

  .summary-content {
    height: 100%;
    padding: 110px 0 0 0 ;
  }

  .summary {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .strich {
    display: none;
  }

  .summary h3 {
    font-size: 20px;
  }

  .greeting {
    width: 100%;
  }

  .board_of_boards {
    width: 400px;
    gap: 20px;
  }

  .boards {
    margin-top: 20px;
    align-items: center;
  }

  .board-1 {
    width: 100%;
    gap: 16px;
  }

  .board-2 {
    width: 100%;
    height: 120px;
  }

  .board-3 {
    width: 100%;
    gap: 15px;
  }

  .box1 {
    width: 116px;
    height: 116px;
    padding: 0 0 0 0;
  }

  .box1:hover {
    width: 100%;
    height: 126px;
  }

  .box1 h4 {
    padding: 0 10px 0 10px;
  }

  .box4 {
    gap: 20px;
    width: 100%;
    height: 110px;
  }

  .box4:hover {
    width: 100%;
    height: 120px;
  }

  .box4 img,
  .box5 img {
    height: 40px;
    width: 40px;
  }

  .box4-box h4,
  .box4-inbox h4,
  .box5-box h4 {
    text-align: start;
    font-size: 14px;
    line-height: 16.8px;
  }

  .box4-box p {
    font-size: 16px;
    margin: 0 0 0 0;
  }

  .box5 {
    width: 186px;
    height: 110px;
  }

  div.box5:hover {
    width: 190px;
    height: 120px;
  }

  .box1 p,
  .box4-inbox p,
  .box5 p {
    font-size: 47px;
  }

  /* BOARD */

  .board-content-main {
    padding: 120px 20px 120px 20px;
  }

  .board {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }


  .search-icon {
    display: flex;
    margin: 15px 0 0 260px;
  }


  .buttonAddTask p {
    display: none;
  }

  .box-container-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-container-column {
    font-size: 21px;
    width: 95%;
  }

  #todo,
  #progress,
  #awaiting,
  #done {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BoardTask {
    width: 85%;
    margin: 0;
    padding: 18px 19px 18px 19px;
  }

  .dragdrop {
    height: 50px;
  }

  .BoardDetail {
    width: 100%;
    gap: 20px;
  }

  .BoardDetail p {
    margin: 0;
    font-size: 16px !important;
  }

  .BoardDetailCategory {
    gap: 5px;
  }

  .BoardDetailTeamTask-help {
    gap: 25px;
    font-size: 16px;
    padding: 0 0 0 15px;
  }

  .BoardDetailcontent {
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  .BoardDetailPrioTask {
    font-size: 16px;
  }

  .BoardDetailTeam {
    gap: 10px;
    max-height: 200px;
    margin: 0;
  }

  .BoardDetailTeamTask {
    width: 35px;
    height: 35px;
  }

  /* ADD-TASK */

  /* CONTACT */

  .contactContainer {
    width: 100%;
  }

  .text-overflow, .taskForNameLeft {
    max-width: 190px;
    font-size: 18px;
  }

  .initialsSectionLeft {
    width: 100%;
  }

  .contactOverview {
    display: none;
    flex-direction: column;
    margin-left: 6%;
    padding-right: 8%;
    z-index: 2;
  }

  .boardDescription {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    width: 100%;
  }
  .boardSlogan {
    font-size: 20px;
  }

  .contactName h2 {
    font-size: 36px;
    width: 250px;
  }

  .initials {
    font-size: 30px;
    width: 80px;
    height: 80px;
  }

  .taskForName {
    display: none;
  }


  .addContactButton p {
    display: none;
  }

  .contactOverview button {
    display: none;
  }

  .button-mobile {
    display: flex !important;
    position: absolute;
    right: 2%;
    bottom: 12%;
    border-radius: 50%;
  }

  .button-mobile p {
    display: none;
  }

  .overlayLogo {
    display: none;
  }

  .overlayHeadline {
    font-size: 47px;
  }
  .overlayHeadline h6 {
    font-size: 20px;
  }

  .overlayAddUserPic {
    font-size: 47px;
    width: 120px;
    height: 120px;
  }

  .overlayAddUserPic {
    font-size: 47px;
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
  }

  .editInputs {
    padding: 0 0 0 0;
  }

  .editInputsP {
    top: -5%;
    left: 88%;
  }

  /*HELP / LEGAL Notice*/

  .help-container-main,
  .legal-notice-container-main {
    padding: 100px 10px 100px 10px;
  }

  .help-container-main h1,
  .legal-notice-container-main h1 {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 37px;
  }
}

@media only screen and (max-width: 420px) {

  /** LOGIN */

  .login-header-container {
    display: flex;
    align-items: center;
  }

  #login-sign-up-container {
    flex-direction: column;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

  .sign-up-container img {
    top: 45px;
    left: 20px;
  }
  .sign-up-container input {
    width: 80%;
  }

  
  /** HEADER */

  .med-container {
    width: 100vw;
  }
  .navButton {
    width: 25% !important;
  }
  
  .active-webpage {
    border-radius: 0;
  }

  .header {
    width: 100vw;
  }


  /** SUMMARY */

  .board_of_boards {
    width: 100%;
  }

  .boards {
    justify-content: center;
  }

  .board-1  {
    gap: 0;
  }

  .board-1 a,  .box1 {
    width: 100px;
    height: 100px;
  }

  .box1 p  {
    font-size: 35px;
  }

  .box1 h4  {
    font-size: 14px;
  }
  .box1:hover{
    transition: none;
    box-shadow: none;
    background-color: none;
    width: 100px;
    height: 100px;
  }

  .board-2 {
    justify-content: center;
  }

  .box4 {
    width: 100%;
  }

  .box4-inbox p{
    font-size: 35px;

  }
  .box4:hover{
    transition: none;
    box-shadow: none;
    background-color: none;
    width: 100%;
    height: 110px;
  }

  .board-3 {
    gap: 5px;
  }

  .box5 {
    width: 150px;
    height: 110px;
  }

  div.box5:hover {
    transition: none;
    box-shadow: none;
    height: 110px;
    width: 150px;
  }

  div.box5 p {
    font-size: 35px;
  }


  /** BOARD */

  .board-content-main {
    padding: 120px 0 120px 0;
  }

  .board {
    width: 98%;
    align-items: flex-start;
  }

  .board h1 {
    margin-left: 10px;
  }

  .inp-container {
    display: flex;
    justify-content: center;
    width: 98%;
    gap: 20px;
    margin: 20px 0 0 10px;
  }

  .find-task-input {
    width: 90%;
  }

  .BoardDetailcontent {
    width: 90%;
    padding: 15px;
  }

  .BoardTaskTeamTrash {
    flex-direction: column;
  }


  /** ADD TASK */
  

  /** CONTACTS */
  .alphaGroup h2 {
    font-size: 16px;
  }

  .contactListing {
    padding: 0 0 100px 0 ;
    margin: 0;
    width: 90%;
  }

  .line {
    width: 100%;
    margin: 0;
  }

  .contactNameLeft {
    padding: 0;
    width: 200px;
  }

  .responsiveContactDetails {
    padding: 20px;
  }

  .initialsSectionOverlay {
    margin: 10px 10px 0 10px;
    padding-bottom: 40px;
  }

  .formContacts {
    width: 100%;
    gap: 20px;
  }

  .formContacts input {
    width: -webkit-fill-available;
  }

  .createContainer {
    justify-content: space-between;
    gap: 0;
  }

  .createContainer .button01{
    padding: 18px 7px 18px 7px;
  }


  .cancelcross {
    display: none;
  }

  button img {
    display: none;
  }

  .overlayAddUserPic {
    width: 80px;
    height: 80px;
    margin-top: -50px;
  }
  .overlayAddUserPic img{
    width: 30px;
    height: 40px;
  }

  .initialsoverlay {
    margin-top: -70px;
  }

  .editInputs {
    align-items: center;
    width: 95%;
  }
  .overlayContactContainer {
width: 90%;
  }

  .createContainer .button01 {
    width: 40%;
  }

  .contactBoard {
    position: relative;
  }

  .addContactButton {
    width: 55px;
    z-index: 5;
  }

  .addContactButton img{
   display: flex;
  }

  /** LEGAL NOTICE */

  .legal-notice-container-main h1{
    font-size: 30px;
  } 
  .legal-notice-container-main h2 {
    font-size: 21px;
  }
  .legal-notice-container-main h3 {
    font-size: 18px;
  }
}
