<div class="sidebar">
  <div class="logo">
    <a href="summary.html"><img src="img/Join-icon.png" alt="" /></a>
  </div>

  <div class="med-container">
    <a id="navSummary" class="navButton" href="summary.html">
      <img src="img/summary-icon.png" alt="" />
      <p>Summary</p>
    </a>
    <a id="navBoard" class="navButton" href="board.html">
      <img src="img/board-icon.png" alt="" />
      <p>Board</p>
    </a>
    <a id="navAddTask" class="navButton" href="add-task.html">
      <img src="img/add-task-icon.png" alt="" />
      <p>Add Task</p>
    </a>
    <a id="navContacts" class="navButton" href="contacts.html">
      <img src="img/contacts-icon.png" alt="" />
      <p>Contacts</p>
    </a>
  </div>
  <div class="legal-notice">
    <a id="navLegalNotice" href="legal-notice.html">
      <img src="img/legal-notice-icon.png" alt="" />
      <p>Legal notice</p>
    </a>
  </div>
</div>
</div>
<div class="header" id="header">
  <div>
    <h2>Kanban Project Management Tool</h2>
  </div>
  <div class="header-right">
    <a href="help.html"><img class="symbol" src="img/f-zeich-neben-profil.png" alt="" /></a>
    <a href="summary.html"><img src="img/Capa1.png" class="logo-mobile"></a>
    <div class="logout-container">
      <img class="profilbild" src="img/profil-photo.png" alt="profilbild" onclick="toggleLogoutBtn(event)" />
      <div class="logout-container-child d-none" id="logout-menu">
        <a href="login.html"  id="logout-btn" class="d-none">Log out</a>
        <a href="login.html" id="legal-notice-btn" class="d-none">Legal Notice</a>
        <a href="login.html" id="help-btn" class="d-none">Help</a>
      </div>
    </div>
  </div>
</div>